/* src/pages/AuthForm.css */

.auth-container {
  display: flex;
  height: 100vh;
  background-color: #0056b3;
  background-image: url('../assets/background.png');
  background-size: cover;
}


.auth-card-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #f3f4f6, #e5e7eb);
}

.auth-card {
  width: 100%;
  max-width: 400px;
  padding: 60px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: linear-gradient(135deg, #ffffff, #000000);
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.welcome-message {
  text-align: center;
  margin-bottom: 20px;
}

.toggle-button {
  display: block;
  margin: 0 auto 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.toggle-button:hover {
  background-color: #0056b3;
}

.auth-form .form-group {
  margin-bottom: 15px;
}

.auth-form .form-group label {
  display: block;
  margin-bottom: 5px;
}

.auth-form .form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.submit-button {
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #218838;
}
